################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MikyBotFolder/CopilotIndices/17.14.1091.29919
/.vs/MikyBotFolder/FileContentIndex
/.vs/MikyBotFolder/v17
/.vs
